.countdown-timer {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    background: #f4f4f4;
}

.countdown__timer-subtitle {
    display: block;
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 16px;
}

.timer {
    display: flex;
    justify-content: space-around;
}

.count-item {
    margin-bottom: 10px;
    position: relative;
    background-color: #f5ca16;
    width: 100px;
    height: 60px;
}

.time_text {
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    top: 30%;
    right: 30%;
}

.timer-text {
    font-size: 13px;
}

@media screen and (max-width: 400px) {
    /* .timer {
        width: 285px;
    } */

    .timer-items {
        /* float: left; */
        margin: 0px 20px 0 0;
        width: 80px;
    }

    .timer-text {
        margin-left: 20px;
    }

    .count-item {
        height: 50px;
    }

    .time_text {
        font-size: 26px;
        width: 36px;
        height: 50px;
    }
}
