.section-one {
    padding: 0 0 15px;
}

.section__one-img {
    display: block;
    border: 7px solid #ededed;
    border-radius: 8px;
    margin: 0 auto 30px;
}

.section__one-text {
    padding: 0 30px 15px;
}

@media screen and (max-width: 768px) {
    .section__one-img {
        width: 400px;
    }
}
