.reviews {
    margin: 0 auto;
    padding: 30px;
    max-width: 480px;
    width: 100%;
    background-color: #ebebeb;
}

.reviews-subtitle {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}
.reviews-subtitle::after {
    display: block;
    content: '';
    margin: 15px 0 0;
    width: 62px;
    height: 5px;
    background: url('../../../assets/images/subtitle-after-img.png') center no-repeat;
}

.reviews__subtitle-last-word {
    display: inline-block;
    color: #e43315;
}
