.description_block {
    display: flex;
    width: 100%;
    padding: 12px 10px 10px;
    background-color: #ebebebcc;
}

.description {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #222;
}
