/* CSS reset styles */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Font Family */
:root {
    --first-family: Open Sans, sans-serif;
    --second-family: Montserrat, sans-serif;
    --third-family: Roboto, sans-serif;
}

:root {
    font-size: 16px;
}

/* Common styles */
body {
    font-size: 15px;
    line-height: 22;
    font-weight: 400;
    background-color: #ddd;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    overflow-y: scroll;
    color: #222;
}

/* h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
} */

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    all: unset;
    cursor: pointer;
}

/* h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
} */

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.container {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
}
