









/* @media (max-width: 768px) {
    img.image1 {
        width: 400px;
    }
} */

/* @media (max-width: 400px) {
    .offer_section .timer_block .timer {
        width: 285px;
    }
    .offer_section .timer_block .timer_item {
        float: left;
        margin: 0px 20px 0 0;
        width: 80px;
    }
    .offer_section .timer_block .count {
        height: 50px;
    }
    .offer_section .timer_block .count span {
        font-size: 26px;
        width: 36px;
        height: 50px;
        line-height: 50px;
    }
} */

/* @media (max-width: 410px) {
    .offer_section.offer3 .price_block {
        padding: 0 50px;
    }
    .offer_section.offer3 .price_block:after {
        width: 30px;
    }
} */
